.generic .hero {
    padding-bottom: 20px;
    text-align: center;
    background: linear-gradient(135deg, #172a74, #21a9af);
    border-radius: 7px;
}

@media (min-width:768px) {
    .generic .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.generic .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}


@media (min-width:992px) {
    .generic .hero h1 {
        margin-top: 50px;
        margin-bottom: 24px;
        line-height: 1.2;
    }
}

.generic .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.generic .highlight-blue {
    color: #fff;
    background-color: #1e6add;
    padding: 50px 0;
}
  
.generic .highlight-blue p {
    color: #c4d5ef;
    line-height: 1.5;
}
  
.generic .highlight-blue h2 {
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}
  
.generic .highlight-blue .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}
  
.generic .highlight-blue .buttons {
    text-align: center;
}
  
.generic .highlight-blue .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
}
  
.generic .highlight-blue .buttons .btn:hover {
    opacity: 1;
}
  
.generic .highlight-blue .buttons .btn:active {
    transform: translateY(1px);
}
  
.generic .highlight-blue .buttons .btn-primary, .generic .highlight-blue .buttons .btn-primary:active {
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 6px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: 14px 24px;
    background: transparent;
    transition: background-color 0.25s;
}
  
.generic .highlight-clean {
    color: #313437;
    background-color: #fff;
    padding: 50px 0;
}
  
.generic .highlight-clean p {
    color: #7d8285;
}
  
.generic .highlight-clean h2 {
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}
  
.generic .highlight-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}
  
.generic .highlight-clean .buttons {
    text-align: center;
}
  
.generic .highlight-clean .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #ddd;
}
  
.generic .highlight-clean .buttons .btn:hover {
    opacity: 1;
}
  
.generic .highlight-clean .buttons .btn:active {
    transform: translateY(1px);
}
  
.generic .highlight-clean .buttons .btn-primary {
    background-color: #055ada;
    color: #fff;
}