body {
    font-family: "Raleway", sans-serif;
    background: #fafafa;
}

a {
    color: #4aa05e;
}

a:hover {
    color: #155724;
}

generic-alert{
    margin:auto;
}

.alert {
    margin-bottom: 0;
}

/*  HERO CONTAINER  */

#hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid #222;
  }
  
#hero:before {
content: "";
background: rgba(0, 0, 0, 0.7);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero .hero-container {
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 0 15px;
}

#hero h1 {
margin: 0 0 30px 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: #fff;
}

#hero h2 {
color: #eee;
margin-bottom: 40px;
font-size: 22px;
}

#hero .btn-green {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 2px;
display: inline-block;
padding: 10px 28px;
border-radius: 5px;
transition: 0.5s;
border: 2px solid #00963e;
color: #fff;
}

#hero .btn-green:hover {
background: #00963e;
border: 2px solid #00963e;
}

@media (min-width: 1024px) {
#hero {
    background-attachment: fixed;
}
#hero h1, #hero h2 {
    width: 50%;
}
}

@media (max-width: 768px) {
#hero {
    height: 100vh;
}
#hero h1 {
    font-size: 28px;
    line-height: 36px;
}
#hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
}

/*  SIDEBAR  */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    z-index: 999;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00963e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #01671d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #10b74e;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #00963e;
    background: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000;
}

/* ---------------------------------------------------
    OVERLAY
----------------------------------------------------- */

#overlay {
    position:fixed;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    opacity: 0;
}

#overlay.active {
    display: block;
    opacity: 1;
}

/* ---------------------------------------------------
    PAGE CONTENT
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    DISMISS STYLE
----------------------------------------------------- */

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #10b74e;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #10b74e;
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
